<head>
  <link href="/static/styles/bootstrapmin.min.css" rel="stylesheet"/>
  <link href="/static/styles/Signup.css" rel="stylesheet">
  <link rel="icon" href="/static/images/nicely.svg">
  <style>
  </style>
  </head>
  
      <body style="background-color: #434EB4; overflow-x: hidden; overflow-y: hidden;">
      <img src="/static/images/Nicely-logo-3.png" width="160px" height="auto" style="margin-left: 15px; padding-top: 8px; z-index: -2;">

      <form action="/delete_post" id ="delete_form" method="post" style="display: none;">
        {{ form_delete.post_number(id="delete_post") }}
      </form>

      <div class="dashboard-rectangle-mid">
        <div class="labels-tags" style="padding-top: 0.5%;">
          {% for i in labels_dic_1 %}
          <button class="client-label-3" id={{ i }} onclick="ClickLabel(this)"><div style="font-size: 12px; margin:3px;">{{i}}</div></button>
          {% endfor %}
          <button class="client-label-1" id="5" style="margin-left: 35px;" onclick="ClickLabel(this)"><div style="font-size: 12px; margin:3px;">{{labels_dic}}</div></button>
          {% for i in labels_dic_2 %}
          <button class="client-label-2" id={{ i }} onclick="ClickLabel(this)"><div style="font-size: 12px; margin:3px;">{{i}}</div></button>
          {% endfor %}
          <button class="client-label-1" id="9" onclick="ClickLabel(this)"><div style="margin:0px 3px 0px 3px;">+</div></button>
        </div>
        <div class="profile-divider"></div>

        <div class="container" style="position:relative; top: 21%; left: -6%; width: 83%; height: 73%;overflow-y: scroll;">

                    <form action="{{request.path}}" method="post" enctype="multipart/form-data" style="margin-top: 30px;">
                      {{ form.csrf_token }}
                      <div class="input-group">
                      {{ form.post_content(id = "content", style = "height: 100px;border-color:white;border-radius:10px", placeholder="Share your thoughts here, and tell us about your day!", class="form-control") }}<br><br>
                    </div><br> 
                      {{ form.post_image(id="customFile", style="display:none") }}
                      {{ form.post_anonymously(id ="checkbox", type="checkbox", style="display:none;")}}

                      <div style="margin-top: -10px;margin-bottom: 50px;">
                        <img src="/static/images/emotional_checkin.svg" onclick="checkinFunc()" style="height: 22px;width:auto;margin-right: 20px;cursor: pointer;">
                        <img id="post_image" src="/static/images/post_image.svg" style="height: 22px;width:auto;margin-right: 25px; cursor: pointer;" onclick="imageFunc()">
                        <img src="/static/images/post_audio.svg" style="height: 18px;width:auto;margin-right: 655px;">
                      <select name="anonymous" style="background: none;border:none;font-size: 12.5px;color: grey;text-align: center;margin-right: 5px;" onchange="selectFunc()">
                        <option selected="selected" value="True">Public</option>
                        <option value="False">Anonymous</option>
                      </select>
                      <input type="submit" value="Post" style="height: 23px; width: 60px;font-size: 11px;border-radius: 5px; border: none;background-color: #C8DBFF;color: #1624A1;">
                    </div>
                    </form>

                  <div class="container" style="padding: 0;width: 100%; border-radius: 15px;background-color: white; padding-bottom: 20px;">
                    <div style="margin-bottom: 25px; color: grey; font-size: 12px;margin-left: 20px;padding-top: 45px;">
                      <img style="display: inline;height: 22px;width: auto; margin-left: 30px;" src="/static/images/new_entry.svg">
                      <div style="display: inline;margin-left: 710px;margin-right:10px ;">&#10094;</div>
                      <div style="display: inline;margin-right: 10px;">NOV 2023</div>
                      <div style="display: inline;">&#10095;</div>
                    </div>
                  {% for post in posts %}
                  <div style="width: 90%;margin-left: 5%;box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.15);text-align: center;border-radius: 25px;">
                  <div class="card-body bg-white" style="border-radius: 10px;">
                    <h5 class="card-title"> @{{post.username}}</h5>
                    <p>{{post.post_content}}</p>
                    <img class ="img" style="height: 275px; width: auto;" src="{{post.media_directory}}"/><br /><br />
                  </div>
                  <div class="card-footer" style="margin-bottom: 30px;">
                    {% if post.username == usr %}
                    <small class="text-muted">Created at {{post.post_time}}, <a onclick="update(this)" style="cursor:pointer" id={{post.user_post_id}}>click here to delete this entry</a>.</small>
                    {% else %}
                    <small class="text-muted">Created at {{post.post_time}}.</small>
                    {% endif %}
                  </div>
                </div>
                {% endfor %}
                </div>
      </div>
      </div>
      
      <div class="dashboard-rectangle-right">
        <div class="side-rectangle-checkin">
          <div class="container" style="background-color: white; width: 100%; height: 50%; border-radius: 15px;">
            <div class="month">
              <ul style="font-size: 8px; margin-left: 55%;">
                <li class="prev">&#10094;</li>
                <li class="next">&#10095;</li>
                <li>NOV 2023</li>
              </ul>
            </div>
            <div class="calender-label">Daily Checkin</div>
            <div class="calender-divider"></div>
            <ul class="weekdays">
              <li>S</li>
              <li>M</li>
              <li>T</li>
              <li>W</li>
              <li>TH</li>
              <li>F</li>
              <li>S</li>
            </ul>
            
            <ul class="days">
              <li><span class="past">30</span></li>
              <li><span class="past">31</span></li>
              <li><span class="entry">1</span></li>
              <li>2</li>
              <li><span class="entry">3</span></li>
              <li>4</li>
              <li>5</li>
              <li><span class="entry">6</span></li>
              <li>7</li>
              <li>8</li>
              <li><span class="entry">9</span></li>
              <li><span class="active">10</span></li>
              <li>11</li>
              <li>12</li>
              <li>13</li>
              <li>14</li>
              <li>15</li>
              <li>16</li>
              <li>17</li>
              <li>18</li>
              <li>19</li>
              <li>20</li>
              <li>21</li>
              <li>22</li>
              <li>23</li>
              <li>24</li>
              <li>25</li>
              <li>26</li>
              <li>27</li>
              <li>28</li>
              <li>29</li>
              <li>30</li>
              <li><span class="past">1</span></li>
              <li><span class="past">2</span></li>
              <li><span class="past">3</span></li>
            </ul>
            <div class="calender-divider"></div>
          </div>
            <div class="container center" style="width: 80%; height: 50%;">
              <div style="font-size: 20px; margin-top: 8%;">How's your day?</div>
              <div style="font-size: 11px; color:#6C78B5; margin-top: 2%">Choose a way to tell us</div>
                <div style="font-size:12px;margin-left:5%;">
                <div class="check-in-btn" style="margin-top: 2%; padding-top: 6px;cursor: pointer;" onclick="viewFunc(this)">Post a diary</div>
                <div class="check-in-btn" style="margin-top: 14%; padding-top: 6px;cursor: pointer;" onclick="viewFunc(this)">Record</div>
                <div class="check-in-btn" style="margin-top: 26%; padding-top: 6px;cursor: pointer;" onclick="viewFunc(this)">Guided checkin</div>
                </div>
              </div>
          </div>
        <div class="side-rectangle-tests">
          <div class="container">
          <div style="font-size: 20px; padding-top: 7%;"class="center">Mental tests</div>
            </div>
            <div style="font-size: 12px; padding-top: 3%; padding-left: 10%; color:#6C78B5;">Previous records:</div>
            <ul style="list-style-type: none; color: #1624A1; margin-top: 3%;">
              <li>MBTI<p style="display: inline; font-size: 10px; margin-left: 38%;">10/31 12:31</p></li>
              <li>DIST<p style="display: inline; font-size: 10px; margin-left: 40%;">10/31 12:31</p></li>
              <li>GAD-7<p style="display: inline; font-size: 10px; margin-left: 32%;">10/31 12:31</p></li>
              <li>PHQ-9<p style="display: inline; font-size: 10px; margin-left: 32%;">10/31 12:31</p></li>
            </ul>
            <div style="font-size:12px; margin-left:5%;" class="center">
            <div class="mental-test-btn" style="margin-left: 5%; padding-top: 6px;">View all</div>
            <div class="mental-test-btn" style="margin-left: 35%; padding-top: 6px;">New tests</div>
            </div>
          </div>
        </div>
      </div>
      <div class="dashboard-rectangle-side1 container" style="text-align: left;">
        <div style="margin-left: 3%;">
        <p style="font-size: 14px; color: white; margin-top: 8%;">Account</p>
          <div style="font-size: 11.5px; color: white;">
          <p onclick="NavFunc()" style="cursor: pointer;"><img src="/static/images/twitter_icon.svg" width="17px" height="auto" style="margin-right: 7%; margin-left: 1%;">Twitter</p>
          <p><img src="/static/images/instagram_icon.svg" width="21px" height="auto" style="margin-right: 6%; margin-left: -1%;">Instagram</p>
          <p><img src="/static/images/facebook_icon.svg" width="15px" height="auto" style="margin-right: 8%; margin-left: 1%;">Facebook</p>
          <p><img src="/static/images/tictok_icon.svg" width="20px" height="auto" style="margin-right: 6%; margin-left: -1%;">Tictok</p>
          </div>
        </div>
      </div>
      <div class="dashboard-rectangle-side2 container" style="text-align: left;">
        <div style="margin-left: 3%;">
          <p style="font-size: 12.5px; color: white; margin-top: 8%;">All data</p>
          <p style="font-size: 9.5px; color: white; margin-top:-6%"><img src="/static/images/all_data.svg" width="21px" height="auto" style="margin-right: 7%; margin-left: 1%;">All data</p>
        </div>
      </div>
      <div class="therapist-profile-circle">
        <img src="/static/images/Thearpist_demo.png" width="87px" height="auto" style="margin-left: -4px;">
        <p style="color: white; font-size: 12px;margin-top: 10%;white-space: nowrap;">Your Therapist</p>
      </div>
      <div>
        <img src="{{ media_dic }}" style="object-fit: none;" class="user-profile-circle">
        <div class="container user-welcome">
        <h2>Hi, @{{usr}}!</h2>
        <p style="color: 6C78B5;">Last updated on 9/18 2022</p>
      </div>
      </div>
      <input type="text" class="search-bar"/>
      <div style="position:absolute; top: 21px;left: 610px; width: 500px;">
      <a href="/info" style="text-decoration:none; color: white;"><p style="display:inline; margin-right: 75px">Home</p></a>
      <a href="/blog" style="text-decoration:none; color: white;"><p style="display:inline; margin-right: 75px">Blogs</p></a>
      <a href="/about" style="text-decoration:none; color: white;"><p style="display:inline; margin-right: 75px">About</p></a>
      <a href="/logout" style="text-decoration:none; color: white;"><button style="display:inline; border-radius: 20px;  border: none; outline: none; background-color: #616AC0; color:white; height: 30px; width: 95px;">Log out</button>
    </div>

  <script>
    var delete_method = document.getElementById('delete_form')
    var input_field = document.getElementById('delete_post')
    image_input = document.getElementById('customFile')
    anonymous_state = document.getElementById('checkbox')

    const update = (e) => {

      input_field.value = e.id
      delete_method.submit()
      //An array with both delete and the identificaiton of the dataset
    }

    const imageFunc = () => {
      image_input.click()
    }

    const selectFunc = () => {
      if (anonymous_state.checked == false) {
        anonymous_state.checked = true
      }else{
        anonymous_state.checked = false
      }
      console.log(anonymous_state.checked)
    }
    
    const checkinFunc = () => {
      window.location = '/quiz';
    }

    const viewFunc = () => {
      window.location = '/view';
    }

    const NavFunc = () => {
      window.location = '/dashboard';
    }

    const ClickLabel = (e) => {
        window.location = '/labels';
      }
  </script>
